/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;

  color: white;  

  display: grid;
  grid-template-rows: max-content max-content 3fr;
  align-items: center;
} */

header {
  position: sticky;
  top: 0;

  height: 15vh;

  justify-self: center;
  /* justify-items: center; */
}

header > a {
  justify-items: center;
}

.logo {
  max-width: 120px;

  justify-self: center;
}


main {
  width: 100%;
  /* min-width: 80vw; */

  align-self: start;

  /* overflow-y: scroll; */
  background-color: var(--dark-background);
}



main h1 {
  padding: 1rem 0;

  text-shadow: #FFF 0px 0px 5px, #795313 0px 0px 10px, #FFF 0px 0px 15px, #795313 0px 0px 20px, #795313 0px 0px 30px, #795313 0px 0px 40px, #795313 0px 0px 50px, #795313 0px 0px 75px;
}