#cartView {
  position: absolute;
  left: 105%;
  top: 105%;

  /* min-width: max-content; */
  width: 22rem;
  border: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;

  font-size: 1.5rem;

  /* background-color: var(--dark-background); */
  background-color: var(--yellow-transparent);
  /* box-shadow: 0px 0px 5px 5px rgba(121,83,19,0.75); */
  box-shadow: 0px 0px 5px 5px rgba(19, 19, 19, 0.5);
}

#cartView > p {
  text-align: end;
}

#cartView > ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.cartViewItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0.3rem;

  /* background-color: rgb(121, 83, 19); */
  background-color: rgba(155, 111, 34, 0.4);
}

.cartImg {
  max-width: 75px;
  order: -1;
}

#cartView > hr {
  color: rgb(121, 83, 19);
}

.cartViewItem > h4 {
  flex-grow: 2;

  text-align: start;
}