nav {
  position: sticky;
  top: 15vh;
}

nav > menu > li {
  flex: 1 1 auto;
}

nav > menu > li:last-of-type {
  position: relative;
}

.tab {
  display: block;

  justify-items: center;

  border: 3px solid transparent;

  padding: 0.75rem;

  font-size: 1.7rem;
  transition: background-color 300ms ease-in-out;

  background-color: var(--yellow-transparent);
}
.tab:hover,
.tab.active {
  background-color: var(--dark-background);
}
.tab.active {
  color: var(--yellow-transparent);

  border-top: 3px solid var(--yellow-transparent);
}

.cart {
  position: relative;
}

menu {
  display: flex;
  justify-content: space-evenly;
}