#storePage {
  padding: 1rem;
}

.board ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr/* minmax(200px, 1fr) */);
  gap: 1rem;
}

.productItem {
  width: 100%;

}

.imgItem {
  width: 150px;
}

.buttons {
  /* width: 100%; */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content 1fr;
  row-gap: 0.5rem;
}

.buttons > button:last-of-type {
  grid-column: 1 / 4;
}