#storePage {
  padding: 1rem;
}

.board > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: stretch;
}

.board > ul > li {
  display: contents;
}

.productItem {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 2fr;

  padding: 1rem;
  aspect-ratio: 0.618;

  border: 1px solid var(--yellow-opaque);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-top: 1px;
  border-color: var(--yellow-opaque);
  border-style: solid;
}

.imgContainer {
  display: grid;
  place-items: center;

  background-color: hsl(0 0% 90% / 1);
  border-radius: 0.25rem;
}

.imgItem {
  object-fit: scale-down;
  width: 100%;

  aspect-ratio: 0.618;
}

.productTitle {
  width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}



.buttons {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content 1fr;
  row-gap: 0.5rem;

  padding: 0 2.5rem;
}

.buttons > button:last-of-type {
  grid-column: 1 / 4;
}